@using IdentityChatEmailNight.Entities
@model List<Message>


@{
    ViewData["Title"] = "TrashBox";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="email-right-box">
    <div role="toolbar" class="toolbar">
        <div class="btn-group">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown" type="button">
                Çöp Kutusu  <span class="caret m-l-5"></span>
            </button>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="email-list m-t-15">
            <div class="message">
                <a href="/Message/MessageDetail/@item.MessageId">
                    <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                            <input type="checkbox" disabled value="@item.MessageId">
                            <label class="toggle" for="chk_@item.MessageId"></label>
                        </div><span class="star-toggle ti-star"></span>
                    </div>
                    <div class="col-mail col-mail-2">
                        <div class="subject">@item.Subject</div>
                        <div class="date">@item.SendDate.ToString("dd/MM/yyyy")</div>
                    </div>
                </a>
            </div>


        </div>
    }
</div>