<div class="email-left-box">
    <a href="/Message/CreateMessage/" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
    <div class="mail-list mt-4">
        <a href="/Message/Inbox/" class="list-group-item border-0 text-primary p-r-0">
            <i class="fa fa-inbox font-18 align-middle mr-2"></i>
            <b>Gelen Mesajlar</b>
            <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.ReceiveMessage</span>
        </a>
        <a href="/Message/SendBox/" class="list-group-item border-0 p-r-0">
            <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>
            Giden Mesajlar
            <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.SendMessage</span>
        </a>
        <a href="/Profile/ProfileDetail/" class="list-group-item border-0 p-r-0">
            <i class="fa fa-star-o font-18 align-middle mr-2"></i>
            Profilim
            <span class="badge badge-danger badge-sm float-right m-t-5"></span>
        </a>
        <a href="/Message/TrashBox/" class="list-group-item border-0 p-r-0">
            <i class="fa fa-trash font-18 align-middle mr-2"></i>
            Çöp Kutusu
        </a>
        <a href="/Login/Logout" class="list-group-item border-0 p-r-0">
            <i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>
            Çıkış Yap
        </a>
    </div>
</div>